.colorScheme {
    color: #D7CEC7;
    color: #565656;
    color: #76323F;
    color: #C09F80;
}

body {
    font-family: 'Merriweather', serif;
    padding: 0;
    margin: 0;
}

.header {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    background: #565656;
    color: #D7CEC7;
}

.header__name {
    font-size: 3em;
    font-weight: bold;
    margin-top: -25px;
}

.header__photo > img {
    border-radius: 50%;
    margin-top: 10px;
}

.experience {
    clear: both;
    text-align: center;
    margin-top: -25px;
    background: white;
    margin-left: 10%;
    margin-right: 10%;
}

.employer_heading {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    width: 100%;
    background: #76323F;
    color: #D7CEC7;
    padding: 5px;
    border-radius: 3px;
}

.employer__description {
    text-align: left;
}

.employer__title {
    font-weight: bold;
}

